extends layout

block content
  h1= title
  p Welcome #{title} search results are
  - var image_names = ["iphone.jpg","iphone13.jpg","nokia1.jpg","samsung.jpg","samsung1.jpg"]
  - for(let i=0; i<3; i++){
    - var j=Math.floor(Math.random()*5);
    - var img_j=image_names[j];
    image(height="300" width="300" src=`\\images\\${img_j}` alt=`${img_j}` )
  - }